/* ------------ Body: ------------ */

/* For the body */
body {
    background-color: rgb(177, 172, 172);
    color: black;
}

/* For Paragraphs */
p {
    background-color: white;
    text-indent: 3em;
    margin-top: 0vw;
    margin-bottom: 0vw;
    margin-right: 10vw;
    margin-left: 10vw;
}

/* ------------ Headers: ------------ */

/* For the Title */
h1 {
    background-color: white;
    color: black;
    text-align: center;
    margin-top: 0vw;
    margin-bottom: 0vw;
    margin-right: 0vw;
    margin-left: 0vw;
}

/* For the Subtitle */
h2 {
    background-color: white;
    color: black;
    text-align: left;
    margin-top: 0vw;
    margin-bottom: 0vw;
    margin-right: 8vw;
    margin-left: 8vw;
}

/* For Game Titles */
h3 {
    background-color: rgb(177, 172, 172);
    color: black;
    text-align: left;
    margin-top: 0vw;
    margin-bottom: 0vw;
    margin-right: 30vw;
    margin-left: 30vw;
}

/* For "Introduction" */
h4 {
    background-color: rgb(177, 172, 172);
    color: black;
    text-align: left;
    margin-top: 0vw;
    margin-bottom: 0vw;
    margin-right: 40vw;
    margin-left: 40vw;
}

h5 {
    background-color: white;
    color: black;
    text-align: left;
    margin-top: 0vw;
    margin-bottom: 0vw;
    margin-right: 40vw;
    margin-left: 40vw;
}

/* ------------ Other: ------------ */

div {
    text-align: center;
}

.basic_left_offset {
    margin-top: 0vw;
    margin-bottom: 0vw;
    margin-left: 40vw;
}

/* ------------ Classes: ------------ */

.biggest {
    font-size: 6vw;
}

.center {
    text-align: center;
}

.large {
    font-size: 6vw;
}

/* For "Games Discussed" */
.games_discussed {
    text-align: center;
    margin-top: 0vw;
    margin-bottom: 0vw;
    margin-right: 35vw;
    margin-left: 35vw;
}

/* For list items */
.list {
    background-color: white;
    margin-top: 0vw;
    margin-bottom: 0vw;
    margin-right: 42vw;
    margin-left: 0vw;
}